[data-text-anim] {
  visibility: hidden;
}

.hero {
  //  height: 100vh;
  background-image: url("/images/bg-lines.svg");
  background-size: cover;
  position: relative;
  padding: clamp(34px, 4vw, 156px) 16px 84px;
}

.hero-content {
  position: relative;
  z-index: 2;
  //width: min(760px, 100%);
  margin: 0 auto;
  text-align: center;

  .title {
    max-width: 760px;
    margin: 18px auto 13px;
    font-size: clamp(36px, 5.4vw, 68px);
    line-height: 0.95;
    letter-spacing: 0;
  }

  .desc {
    max-width: 650px;
    margin: 0 auto;
    color: var(--muted);
    font-size: clamp(15px, 1.7vw, 18px);
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
  }
}

.screens {
  margin: 0 auto;
  text-align: center;

  &-item {
    margin: 0 auto;
    text-align: center;
  }
}

.bussinesses {
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  &-item {
    padding: 0 1rem;
  }
}

//features
.features {
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
  align-items: flex-start;

  &-row {
    flex: 0 0 33%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .features-item+.features-item {
      background-color: transparent;
      border: 1px solid #DCDFEE;

    }
  }

  &-item {
    width: 100%;
    background: #A0C7FE;
    border-radius: 1.5rem;
    padding: 2rem 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }

  &-data {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
  }
}

.content-wrap {
  .content-block {
    padding: calc(1rem + 1.5vw) 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    gap: 2rem;

    @include media-breakpoint-up(xl) {
      //  flex-direction: row-reverse;
      gap: 5rem;
    }

    h2 {
      font-weight: 700;
    }

    p {
      font-size: 1rem;
    }

    &-img {
      //border-radius: $radius * 2;
      overflow: hidden;
      // aspect-ratio: 16/9;
      //   background-color: $bg-placeholder;

      @include media-breakpoint-up(md) {
        flex: 0 1 50%;
      }

      img {
        object-fit: fill;
        //border-radius: $radius * 2;
        //color: #000fff;
      }
    }

    .bento-block {
      @include media-breakpoint-up(md) {
        flex: 0 1 50%;
      }
    }

    &-cms {
      flex: 1;
    }

  }
}

.get-started {
  display: flex;

  gap: 2rem;

  &-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
  }
}

//pricings
.bg-pricing {
  background-color: #000E20;
  background-image: url("/images/bg-pricing.svg");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
}

.pricings {
  display: flex;
  gap: 2rem;

  &-item {
    @include bg-white;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
  }

  &-icon {
    margin-bottom: 1rem;
  }

  .h3 {
    font-weight: 600;
    font-size: clamp(1.5rem, calc(1.25rem + 1.250vw), 3.5rem);
  }

  p {
    font-size: 0.9rem;
    opacity: 0.7;
  }

  &-price {
    font-weight: 600;
    font-size: clamp(1.5rem, calc(1.25rem + 1.250vw), 3.5rem);
    margin: 1rem 0;
  }

  &-action {
    // @include bg-brand-light;
    background-color: rgba(#2D85FE, 0.2);
    border-radius: 50px;
    color: #000;
    padding: 10px 1.5rem;
    font-weight: 600;
    display: inline-flex;
    margin-bottom: 2rem;
  }

  h6 {
    font-weight: 500;
    font-size: 1.125rem;
    color: #000;
    margin-bottom: 1rem;
  }

  &-checks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      font-size: 0.95rem;
      padding-left: 1.5rem;
      position: relative;
    }

    .checkmark {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        left: 5px;
        top: 2px;
        width: 6px;
        height: 10px;
        border: solid currentColor;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        //block-size: 100%;
      }
    }

    .crossmark {

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 0;
        width: 2px;
        height: 12px;
        background: currentColor;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }


  &-head {}

  &-body {
    flex: 1;
  }

  &-foot {}
}


//
.why-us {
  display: flex;
  gap: 2rem;

  &-item {
    flex: 1;
    background-color: transparent;
    border-radius: 30px;
    padding: 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:nth-child(1n) {
      background-color: #000E20;
      color: #fff;
    }

    &:nth-child(2n) {
      background-color: #FFD302;
      color: #000;
    }

    &:nth-child(3n) {
      background-color: #2D85FE;
      color: #fff;
    }

    &:nth-child(4n) {
      background-color: #0047AB;
      color: #fff;
    }
  }

  &-icon {
    margin-bottom: 1.5rem;
    max-width: 7rem;

    svg {
      width: 100%;
    }
  }

  .h3 {
    max-width: 120px;
    font-size: 2rem;
    font-weight: 600;
    text-wrap-style: balance;
  }

  .desc {
    font-size: 1rem;
    opacity: 0.7;
  }
}

//
.bg-faqs {
  background-color: #E2EEFF;
}

.faq-list {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: #{$start-direction};

  @include media-breakpoint-down(lg) {
    max-width: none;
  }

  &-item {
    padding: 1.5rem 0;
    margin-bottom: $gap-sm;
    border-bottom: solid 1px #000;

    @include media-breakpoint-up(lg) {
      margin-bottom: $gap;
    }



    h5 {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0;
    }

    p {
      line-height: 1.7;
      font-size: 0.9rem;
      font-weight: $font-weight-regular;
      color: $txt-gray;
      margin-top: 1rem;
    }
  }

  &-link {
    background-color: transparent;
    border: none;
    position: relative;
    // display: inline-flex;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 600;
    color: $txt-body;
    margin: 0;
    padding: 0;
    padding-#{$end-direction}: 2rem;
    text-align: #{$start-direction};

    &:after,
    &:before {
      background-color: $txt-body;
      content: "";
      height: 2px;
      position: absolute;
      #{$end-direction}: 0;
      // top: calc(50% - 1px);
      top: 14px;
      width: 12px;
    }

    &:before {
      transform: rotate(90deg);
      transition: all 0.2s ease-in-out;
    }

    &[aria-expanded="true"] {
      &:before {
        transform: rotate(0deg);
      }
    }
  }
}

.section-cta {
  h3 {}
}